<acl>
    <page-services-clash>
        <name>Services: Clash</name>
        <patterns>
            <pattern>services_clash.php*</pattern>
        </patterns>
    </page-services-clash>
    <page-services-sing-box>
        <name>Services: Sing-Box</name>
        <patterns>
            <pattern>services_sing_box.php*</pattern>
        </patterns>
    </page-services-sing-box>
    <page-services-mosdns>
        <name>Services: MosDNS</name>
        <patterns>
            <pattern>services_mosdns.php*</pattern>
        </patterns>
    </page-services-mosdns>
    <page-services-tun2socks>
        <name>Services: Tun2Socks</name>
        <patterns>
            <pattern>services_tun2socks.php*</pattern>
        </patterns>
    </page-services-tun2socks>
</acl>
