<menu>
    <Services>
        <Magic VisibleName="代理面板" cssClass="fa fa-bolt fa-fw">
            <Clash order="10" url="/services_clash.php"/>
            <Sing-Box order="20" url="/services_sing_box.php"/>
            <Tun2Soks order="30" url="/services_tun2socks.php"/>
            <MosDNS order="40" url="/services_mosdns.php"/>
        </Magic>
    </Services>
</menu>
